<span class="mr-5">
  <%= link_to "フォロワー#{user.followers.count}人", user_followers_path(user.id), class: "text-dark" %>
</span>
<span>
  <%= link_to "フォロー中#{user.followings.count}人", user_followings_path(user.id), class: "text-dark" %>
</span>
