<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>  
      <h3>フォロワー</h3>
      <% if @users.exists? %>
      	<%= render 'users/list', users: @users %>
      <% else %>
			  <p>ユーザーはいません</p>
			<% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>