<div class="container">
  <div class="row justify-content-center">
    <div class="user-scroll col-md-7 p-4 my-5">
      <h3 class="text-secondary text-center mb-4">
        フォロワー
      </h3>
      
      <!--フォロワー一覧-->
      <% if @users.exists? %>
        <%= render "users/list", users: @users %>
      <% else %>
        <p class="text-center">
          ユーザーはいません
        </p>
      <% end %>
    </div>
  </div>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
