<div class="container px-5 px-sm-0">
  <div class="row justify-content-center">
    <div class="col-md-8 offset-md-1 min-vh-80">  
      <h3>フォロワー</h3>
      <% if @users.exists? %>
      	<%= render "users/list", users: @users %>
      <% else %>
			  <p>ユーザーはいません</p>
			<% end %>
    </div>
  </div>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
