// ボタン
.btn-lg{
  width: 200px;
  padding: 10px;
  background: #7FCDB8;
  color: white;
  border-radius: 0.3rem;
  border: none;
}
.btn-lg:hover{
  background:#B0E7D8;
}

.btn-sm{
  width: 80px;
  padding: 5px;
  background: #7FCDB8;
  color: white;
  border-radius: 0.3rem;
  border: none;
}
.btn-sm:hover{
  background:#B0E7D8;
}

// TOPに戻るボタン
#page-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
#move-page-top{
  color:#7FCDB8;
  cursor: pointer;
}
#move-page-top:hover{
  color:#B0E7D8;
}