// ※リンクにはtype:"button"の記述が必要です。

// ボタン（大）
.btn-lg{
  width: 200px;
  padding: 10px;
  background: #7FCDB8;
  color: white;
  border-radius: 0.3rem;
  border: 1px solid;
  border-color: #7FCDB8;
  text-align: center
}
.btn-lg:hover{
  background:#B0E7D8;
  color: white;
  border: 1px solid;
  border-color: #7FCDB8;
  text-decoration: none;
}

// ボタン（中）
.btn-md{
  width: 120px;
  padding: 10px;
  background: #7FCDB8;
  color: white;
  border-radius: 0.3rem;
  border: 1px solid;
  border-color: #7FCDB8;
  text-align: center
}
.btn-md:hover{
  background:white;
  color: #7FCDB8;
  border: 1px solid;
  border-color: #7FCDB8;
  text-decoration: none;
}

.btn-md-gray{
  width: 120px;
  padding: 10px;
  color: #808080;
  border-radius: 0.3rem;
  border: 1px solid;
  text-align: center
}
.btn-md-gray:hover{
  background:#808080;
  color: white;
  text-decoration: none;
}

// ボタン（小）
.btn-sm{
  width: 80px;
  padding: 6px;
  background: #7FCDB8;
  color: white;
  border-radius: 0.3rem;
  border: 1px solid;
  border-color: #7FCDB8;
  text-align: center
}
.btn-sm:hover{
  background:#B0E7D8;
  color: white;
  border: 1px solid;
  border-color: #7FCDB8;
  text-decoration: none;
}

.btn-sm-gray{
  width: 80px;
  padding: 6px;
  color: #808080;
  border-radius: 0.3rem;
  border: 1px solid;
  text-align: center
}
.btn-sm-gray:hover{
  background:#808080;
  color: white;
  text-decoration: none;
}

// TOPに戻るボタン
#page-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
#move-page-top{
  color:#7FCDB8;
  cursor: pointer;
}
#move-page-top:hover{
  color:#B0E7D8;
}
