<div class="container">
  <div class="row justify-content-center">
    <div class="user-scroll col-md-7 p-4 my-5">
      <h3 class="text-secondary text-center mb-4">
        すべてのユーザー
      </h3>

      <!--ユーザー一覧-->
      <%= render "users/list", users: @users %>
    </div>
  </div>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
