<div class="container px-5 px-sm-0">
  <div class="row justify-content-center">
    <div class="col-md-8 offset-md-1">  
      <h3>すべてのユーザー</h3>
      <%= render "users/list", users: @users %>
    </div>
  </div>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
