<div class="container">
		<div class="row text-center">
			<div class="border border-secondary col-sm-12 col-md-10 col-lg-8 px-4 mx-auto my-5">
				<div class="text-secondary my-5">
					<h4>アカウントを削除</h3>
				</div>
				
				<h4 class="mb-3">
	        <%= @user.name %>
	        <span style="font-size:20px;">さん</span>
	      </h4>
	      
				<p>アカウントを削除するとこれまでの投稿が閲覧できなくなります。</p>
				<p>削除する場合は「アカウントを削除する」をクリックしてください。</p>
				
				<div class="mt-5">
		      <%= link_to "アカウントを削除する", registration_path(@user), method: :delete, class:"btn-lg" %>
		    </div>
		    
				<div class="mt-3 mb-5">
		      <%= link_to "戻る", edit_user_path, class:"btn btn-outline-secondary m-3", style:"width:220px" %>
		    </div>	
			</div>
		</div>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
