<div class="container">
	<div class="row">
		<div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center'>
			<h1>About</h1>
			<p>このサイトについての説明文</p>
		</div>
	</div>
	
	<div class="row justify-content-center">	
		<ul class="list-group list-group-horizontal">
			<li class="list-inline-item">
			  <%= link_to "Post", root_path, class:"nav-link" %>
			</li>
			
			<li class="list-inline-item">
			  <%= link_to "LogIn", new_user_session_path, class:"nav-link" %>
			</li>
			
			<li class="list-inline-item">
			  <%= link_to "SignUp", new_user_registration_path, class:"nav-link" %>
			</li>		
		</ul>
	</div>
	
</div>

<%= render 'layouts/footer' %>