<div class="card-list-container py-5">
	<div>
		<%= link_to "New", new_post_path, class:"nav-link ml-2" %>
	</div>

	<div>
		<%= link_to "All User", users_path, class:"nav-link ml-2" %>
	</div>
</div>
