<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h3>投稿内容を編集</h3>
    	<%= render 'posts/form', post: @post %>
    </div>
  </div>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
