<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<div>
			  <% if @results.present? %>
          <h3><%= @results.name %></h3>
          <p>投稿<%= @results.count %>件</h3>
        <% else %>
          <h3>検索結果</h3>
        <% end %>
		  </div>
			<%= render 'posts/list', posts: @results %>
		</div>

		<div class="col-lg-3">
			<%= render 'layouts/sidebar' %>
		</div>
	</div>
</div>