@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import "templates/*";

// アイコン
.user_icon {
  .icon {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #FFFFFF;
    outline: 1px solid #808080;
    outline-offset: 3px;
  }
}
.user_icon_s {
  .icon {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #FFFFFF;
    outline: 1px solid #808080;
    outline-offset: 2px;
  }
}

// 無限スクロール実装のためページネーションを非表示
 nav.pagination {
  display: none;
}