@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'swiper/swiper-bundle';
@import "templates/*";

// 無限スクロール実装のためページネーションを非表示
 nav.pagination {
  display: none;
}

// 背景色
#bg-color{
  background-color: #fafafa;
  border-radius: 0.3rem;
  min-height: 500px;
}
