<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto text-secondary'>
        <div class="row justify-content-center">	
          <ul class="list-group list-group-horizontal">
						<li class="list-inline-item">
						  <%= link_to "サイトについて", about_path, class:"nav-link text-reset text-decoration-none" %>
						</li>
						
						<li class="list-inline-item">
						  <%= link_to "プライバシーポリシー", about_path, class:"nav-link text-reset text-decoration-none" %>
						</li>
						
						<li class="list-inline-item">
						  <%= link_to "利用規約", about_path, class:"nav-link text-reset text-decoration-none" %>
						</li>
          </ul>
        </div>  
        <p class='text-center'>© 2021 Down To Earth</p>
      </div>
    </div>
  </div>
</footer>