<li class="nav-item" data-toggle="tooltip" title="サイトについて">
  <%= link_to "", about_path, class:"fas fa-leaf fa-lg nav-link ml-2 faa-pulse animated-hover" %>
</li>

<li class="nav-item" data-toggle="tooltip" title="投稿一覧">
  <%= link_to "", posts_path, class:"fas fa-images fa-lg nav-link ml-2 faa-pulse animated-hover" %>
</li>

<li class="nav-item" data-toggle="tooltip" title="ユーザー一覧">
  <%= link_to "", users_path, class:"fas fa-user-friends fa-lg nav-link ml-2 faa-pulse animated-hover" %>
</li>

<li class="nav-item">
  <%= link_to "ログイン", new_user_session_path, class:"nav-link ml-2" %>
</li>
