<!--アバウトページアイコン-->
<li class="nav-item">
  <%= link_to "", about_path, class:"fas fa-leaf fa-lg nav-link ml-2" %>
</li>

<!--すべての投稿アイコン-->
<li class="nav-item">
  <%= link_to "", posts_path, class:"fas fa-images fa-lg nav-link ml-2" %>
</li>

<!--すべてのユーザーアイコン-->
<li class="nav-item">
  <%= link_to "", users_path, class:"fas fa-user-friends fa-lg nav-link ml-2" %>
</li>

<li class="nav-item">
  <%= link_to "ログイン", new_user_session_path, class:"nav-link ml-2" %>
</li>
